<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>py_photo-platform</title>
    <meta name="description" content="A python photography sharing platform.">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/favicon.png">

    <!-- Facebook integration -->
    <meta property="og:title" content="Simple.css Demo">
    <meta property="og:image" content="https://simplecss.org/assets/images/simple-css-feature.webp">
    <meta property="og:url" content="https://simplecss.org/demo">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Simple.css">
    <meta property="og:description" content="A showcase of Simple.css formatting in action and how to use it.">

    <!-- Twitter integration -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Simple.css Demo">
    <meta name="twitter:image" content="https://simplecss.org/assets/images/simple-css-feature.webp">
    <meta name="twitter:url" content="https://simplecss.org/demo">
    <meta name="twitter:description"
        content="Simple.css is classless CSS template that allows you to create a good looking website very quickly.">

</head>

<body>
    <header>
        <nav>
            <a href="/" class="current">Home</a>
            <a href="/top">Top</a>
            <a href="/recent">Recent</a>
            <a href="/myaccount">My Account</a>
        </nav>

        <h1>py_photo-platform</h1>
    </header>

    <main>
        <p class="notice">This website is currently under development. Certain features may appear and some may disappear as development progresses!</p>
        <p>This page is a demonstration of the elements that can be formatted using Simple.css. Each section includes a
            code block on how to include it in your site’s design.</p>
        <p>This may be a little basic for some people, but I wanted the barrier for entry to be as low as possible for
            this project.</p>
        <h2 id="basic-typography">Basic Typography</h2>
        <p>All the typography of Simple.css uses <code class="language-plaintext highlighter-rouge">rem</code> for
            sizing. This means that accessibility is maintained for those who change their browser font size. The <code
                class="language-plaintext highlighter-rouge">body</code> element has a size of <code
                class="language-plaintext highlighter-rouge">1.15rem</code> which makes all the standard font sizes
            slightly larger. This equates to <code class="language-plaintext highlighter-rouge">18.4px</code> for
            paragraph text, instead of the standard <code class="language-plaintext highlighter-rouge">16px</code>.</p>
        <p>The heading elements also have an increased top margin in order to break blocks of text up better.</p>
        <h1 id="heading-1-3rem">Heading 1 <code class="language-plaintext highlighter-rouge">3rem</code></h1>
        <h2 id="heading-2-26rem">Heading 2 <code class="language-plaintext highlighter-rouge">2.6rem</code></h2>
        <h3 id="heading-3-2rem">Heading 3 <code class="language-plaintext highlighter-rouge">2rem</code></h3>
        <h4 id="heading-4-144rem">Heading 4 <code class="language-plaintext highlighter-rouge">1.44rem</code></h4>
        <h5 id="heading-5-115rem">Heading 5 <code class="language-plaintext highlighter-rouge">1.15rem</code></h5>
        <h6 id="heading-6-096rem">Heading 6 <code class="language-plaintext highlighter-rouge">0.96rem</code></h6>
        <div class="language-plaintext highlighter-rouge">
            <div class="highlight">
                <pre class="highlight"><code>&lt;h2&gt;This is a H2 header&lt;h2&gt;
&lt;p&gt;This is some paragraph text.&lt;/p&gt;
</code></pre>
            </div>
        </div>

        <h3 id="links--buttons">Links &amp; Buttons</h3>

        <p>Links are formatted very simply on Simple.css (shock horror). They use the <code
                class="language-plaintext highlighter-rouge">accent</code> CSS variable and are underlined. There is a
            <code class="language-plaintext highlighter-rouge">:hover</code> effect that removes the underline.</p>

        <p>Buttons use the same <code class="language-plaintext highlighter-rouge">accent</code> CSS variable for their
            colour. When hovering, there is an opacity effect.</p>

        <p><a href="https://example.com">I’m a hyperlink</a></p>

        <p><button>I’m a button</button></p>

        <p><a class="button" href="https://example.com">I’m a button with a link</a></p>

        <div class="language-plaintext highlighter-rouge">
            <div class="highlight">
                <pre class="highlight"><code>&lt;a href="https://example.com"&gt;I'm a hyperlink&lt;/a&gt;

&lt;button&gt;I'm a button&lt;/button&gt;

&lt;a class="button" href="https://example.com"&gt;I'm a button with a link&lt;/a&gt;
</code></pre>
            </div>
        </div>
    </main>

    <footer>
        <p>py_photo-platform was created by <a href="https://marcelschreiber.de">Marcel Schreiber</a> and is licensed
            under the MIT license.<br>
            <a href="https://github.com/py_photo-platform">Source code for this site</a></p>
    </footer>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</body>

</html>